@charset "UTF-8";
/* tudo que em HTML é 'id=' em CSS é '#'
tudo que em HTML é 'class' em CSS é ' . ' */

body{
    background-color: rgb(168, 249, 168);
}
h1{
    color:rgb(30, 81, 30) ;
    text-indent: 2em;
    text-decoration-line: underline;
   text-decoration-color: black;
    background-color:rgb(172, 238, 172) ;
  
}
h1#principal{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    text-align: center;
    background-color: rgba(94, 152, 96, 0.407);
    box-shadow: 2px 2px 2px rgba(7, 7, 7, 0.545);
    text-indent: 0%;
    text-decoration-line: none;
    color: black;
    padding-top: 0%;
}
h2{
    color: rgba(18, 96, 18, 0.614);
    text-indent: 10px;
    box-shadow: 2px 2px 2px rgba(7, 7, 7, 0.545);
}
.b{
    background-color: rgb(212, 195, 172);
}
.a{
    background-color: rgb(190, 213, 233);
}
.c{
    background-color: rgb(162, 167, 167);
}
.j{
    color: rgb(20, 19, 19);
    background-color: rgba(89, 171, 115, 0.069);
    border-color: rgba(20, 20, 21, 0.076);
    border-style: dashed;
    padding: 2px;
    font-weight: 600;
}
p{
    padding: 4px;
}