@charset "UTF-8";

body{
    background-color: rgb(34, 31, 33);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(139, 163, 198);
    background-color: rgba(0, 0, 0, 0.304);
    text-align: center;
}
h2{
    color: rgb(160, 178, 181);
    background-color: rgba(255, 235, 205, 0.375);
    text-align: center;
    font-style: italic;
    
}